// colors

$color-1: #333333; // main text
$color-2: #ffffff; // white color
$color-3: #F1F1F0; // Gray color
$color-4: #F4BEA5; // salmon color
$color-5: #82958C; // olive color

// fonts 

$primary-font: sans-serif;